@media screen and (max-width: 480px) {
   .container {
      width: 360px;
   }
   .header nav .one-half {
    width: 114px;
   }
   .one-half {
    width: 350px;
    border-left-width: 70px;
   }
   .header nav ul > li {
    margin: 0 5px;
   }
   .header nav ul > li.btn-outline {
    padding: 10px 15px 10px 5px;
   }
   .btn-outline {
    padding-left: 5px;
    border-right-width: 2px;
    margin-right: 25px;
    padding-right: 5px;
  }
   header .hero h1 {
      font-size: 40px !important;
      font-weight: normal;
      margin: 0 30px 0 0;
   }
   header .hero p {
    margin: 10px 30px 40px 0;
  }
   .hero p {
      font-size: 16px !important;
      line-height: 26px;
      font-weight: 100;
      margin: 19px 5px;
   }
   .btn {
    margin-right: 30px;
   }
   .hero img {
      display: block;
      max-width: 300px;
      margin: 48px 40px 0 15px !important;
   }
   .benefits h2 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 25px;
   }
   .p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
   }
   .benefits ul {
    padding: 1em 0;
   }
   .element.style {
    width: 330px;
   }
    p .container {
    margin-right: 0;
    padding-left: 0;
    padding-right: 8px;
   }
   .pricing .one-third {
    width: 90%;
    margin: 10px 0 5px 8px;
   }
   .box {
    margin-top: 5px;
    margin-left: 20px;
   }
   .small {
    margin-right: 30px;
   }
   .pricing h2 {
    margin: 0 30px 5px 0;
   }
   .pricing p {
    margin-right: 30px;
   }
   .pricing h3 {

   }
   .pricing .box {
    height: 300px !important;
    width: 200px;
    margin-left: 55px;
   }
   .box .btn {
    margin: 0 30px;
    width: 90px;
    right: 45px;
    left: 10px;
   }
   .testimonials h2 {
    margin-right: 30px;
   }
   .testimonials p {
    margin-right: 30px;
   }
   .one-fourth {
    width: 80%;
    margin: 0 0 10px 20px;
   }
   .testimonials img {
    margin: 20px 10px 0 5px;
   }
   .left-footer-block {
    margin-right: 30px;
    margin-bottom: 30px;
    right: 15px;
   }
   .middle-footer-block {
    font-size: 12px;
    margin-right: 25px;
    right: 35px;
    bottom: 35px;
   }
   .right-footer-block {
    bottom: 70px;
    right: 10px;
   }
   .footer .logo {
    padding: 1em;
   }
}